---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <style>
      #clustrmaps-container {
        width: 300px;         /* 地图容器的宽度 */
        margin: 40px auto;    /* 上下边距40px，左右自动（实现居中） */
      }
    </style>

  </head>

  <body>

        {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
            {{ content }}
          </div>

    {% include scripts.html %}

        <div id="clustrmaps-container">
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=xBZtIMJxmg-No4X0j6G07MWoZ5aXy_AnwE4U__c1_4&cl=ffffff&w=a"></script>
    </div>

  </body>
</html>
